<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" >
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet" />
		
		<title>Foodie Wishlist Afficionado Application: Burger Edition</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/food_handlers.js"></script>
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid py-4 shadow-lg">
      		<div class="container-fluid text-center">
        		<h1><strong>Foodie Wishlist Afficionado App - Burger Edition!</strong></h1>
     		 </div>
    	</div>
		<div class="container">
		{{{ body }}}
		</div>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>	
	</body>
</html>