<h1>Foodie Wishlight Tracker</h1>

<ul>
  {{#each food_list}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Foods eaten</h2>

<ul>
  {{#each food_list}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="brg">Burger Name:</label>
    <input type="text" id="brg" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devour?</label><br>
    <input type="radio" name="devoured" value="1" checked> Not Eaten<br>
    <input type="radio" name="devoured" value="0"> Eaten
  </div>

  <button type="submit">Add Burger</button>
</form>
